<div>

<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-black w3-card">
        <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">HOME</a>
        <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SERVICES</a>
        <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">RESERVATION</a>
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
        <!--<div class="w3-dropdown-hover w3-hide-small">-->
            <!--<button class="w3-padding-large w3-button" title="More">MORE <i class="fa fa-caret-down"></i></button>-->
            <!--<div class="w3-dropdown-content w3-bar-block w3-card-4">-->
                <!--<a href="#" class="w3-bar-item w3-button">Merchandise</a>-->
                <!--<a href="#" class="w3-bar-item w3-button">Extras</a>-->
                <!--<a href="#" class="w3-bar-item w3-button">Media</a>-->
            <!--</div>-->
        <!--</div>-->
        <button class="w3-padding-large w3-hover-red w3-hide-small w3-right" onclick="document.getElementById('loginModal').style.display='block'">LOGIN</button>
        <!--<a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>-->
    </div>
</div>

<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
    <a href="#band" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">BAND</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">TOUR</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">CONTACT</a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MERCH</a>
</div>

<!-- Page content -->
<div class="w3-content" style="max-width:2000px;margin-top:46px">

    <!-- Automatic Slideshow Images -->
    <div class="mySlides w3-display-container w3-center">
        <img src="/images/1.jpg" style="width:100%">
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
            <h3>Stunning View</h3>
            <p><b> Every room at our hotel offers not just a high level of comfort, but also an amazing view of the sea.</b></p>
        </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
        <img src="/images/2.jpg" style="width:100%">
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
            <h3>Modern Hotel</h3>
            <p><b>Indianapolis’ mornings are beautiful...especially if you’re waking up in one of our hotel’s refined rooms!</b></p>
        </div>
    </div>
    <div class="mySlides w3-display-container w3-center">
        <img src="/images/3.jpg" style="width:100%">
        <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
            <h3>The Best Dishes</h3>
            <p><b>At our restaurant, we offer a variety of dishes inspired by world cuisines
                and cooked by real professionals.</b></p>
        </div>
    </div>

    <!-- The Band Section -->
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
        <h2 class="w3-wide">OUR SERVICES</h2>
        <p class="w3-opacity"><i>The Modern Hotel while staying in SriLanka...</i></p>
        <div class="w3-row w3-padding-32">
            <div class="w3-third">
                <p>Free WiFi</p>
                <img src="/images/62.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:20%">
            </div>
            <div class="w3-third">
                <p>Free Room Service</p>
                <img src="/images/65.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:20%">
            </div>
            <div class="w3-third">
                <p>Free Parking Lots</p>
                <img src="/images/61.jpg" class="w3-round" alt="Random Name" style="width:20%">
            </div>
        </div>
        <p class="w3-justify">The Woods hotel, located at the very heart of Indianapolis is a welcoming retreat both for people traveling across the country and for businessmen, visiting our Rustbelt state for some commercial affairs. Here, we always make sure that you will have any of your needs satisfied, be it a comfortable hotel room with a strong WiFi signal and a diligent room service, a dining and lounge zone or any additional amenities a traveller might want...</p>
        <div class="w3-row w3-padding-32">
            <div class="w3-third">
                <p>Bedrooms</p>
                <img src="/images/53.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
            </div>
            <div class="w3-third">
                <p>Swimming pool</p>
                <img src="/images/52.jpg" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
            </div>
            <div class="w3-third">
                <p>Spa</p>
                <img src="/images/51.jpg" class="w3-round" alt="Random Name" style="width:60%">
            </div>
        </div>
    </div>

    <!-- The Tour Section -->
    <div class="w3-black" id="tour">
        <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
            <h2 class="w3-wide w3-center">RESERVATION DATES</h2>
            <p class="w3-opacity w3-center"><i>Modern Hotel has 35 elegantly furnished and air conditioned classic rooms, which will be a perfect pick both for business and leisure travelers...</i></p><br>
            <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
                <div class="w3-third w3-margin-bottom">
                    <img src="/images/41.jpg" alt="New York" style="width:100%" class="w3-hover-opacity">
                    <div class="w3-container w3-white">
                        <p><b>Suite</b></p>
                        <p class="w3-opacity">$ 249 /per night</p>
                        <ul style="padding: 7px;font-size: 14px">
                            <li>Only 5 rooms are available</li>
                            <li>Breakfast included</li>
                            <li>Does not include services fee</li>
                        </ul>
                        <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Book Now!</button>
                    </div>
                </div>
                <div class="w3-third w3-margin-bottom">
                    <img src="/images/42.jpg" alt="Paris" style="width:100%" class="w3-hover-opacity">
                    <div class="w3-container w3-white">
                        <p><b>Double Room</b></p>
                        <p class="w3-opacity">$ 114 /per night</p>
                        <ul style="padding: 7px;font-size: 14px">
                            <li>Perfect for traveling couples</li>
                            <li>Breakfast not included</li>
                            <li>Concierge services</li>
                        </ul>
                        <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Book Now!</button>
                    </div>
                </div>
                <div class="w3-third w3-margin-bottom">
                    <img src="/images/44.jpg" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
                    <div class="w3-container w3-white">
                        <p><b>Family Room</b></p>
                        <p class="w3-opacity">$ 195 /per night</p>
                        <ul style="padding: 7px;font-size: 14px">
                            <li>Two double beds</li>
                            <li>Babysitting facilities</li>
                            <li>1 free bed available on request</li>
                        </ul>
                        <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Book Now!</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Ticket Modal -->
    <div id="ticketModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4">
            <header class="w3-container w3-teal w3-center w3-padding-32">
        <span onclick="document.getElementById('ticketModal').style.display='none'"
              class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
                <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Tickets</h2>
            </header>
            <div class="w3-container">
                <p><label><i class="fa fa-shopping-cart"></i> Tickets, $15 per person</label></p>
                <input class="w3-input w3-border" type="text" placeholder="How many?">
                <p><label><i class="fa fa-user"></i> Send To</label></p>
                <input class="w3-input w3-border" type="text" placeholder="Enter email">
                <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">PAY <i class="fa fa-check"></i></button>
                <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
                <p class="w3-right">Need <a href="#" class="w3-text-blue">help?</a></p>
            </div>
        </div>
    </div>

    <!-- Login Modal -->
    <div id="loginModal" class="w3-modal">
        <div class="w3-modal-content w3-animate-top w3-card-4">
            <header class="w3-container w3-teal w3-center w3-padding-32">
        <span onclick="document.getElementById('loginModal').style.display='none'"
              class="w3-button w3-teal w3-xlarge w3-display-topright">×</span>
                <h2 class="w3-wide"><i class="fa fa-user-circle fa-3x w3-margin-right"></i>Login</h2>
            </header>
            <div class="w3-container">
                <p><label><i class="fa fa-user"></i> Username</label></p>
                <input class="w3-input w3-border" type="text" placeholder="Enter email">
                <p><label><i class="fa fa-lock"></i> Password</label></p>
                <input class="w3-input w3-border" type="password" placeholder="Enter password">
                <button class="w3-button w3-block w3-teal w3-padding-16 w3-section w3-right">LOGIN <i class="fa fa-check"></i></button>
                <button class="w3-button w3-red w3-section" onclick="document.getElementById('loginModal').style.display='none'">Close <i class="fa fa-remove"></i></button>
                <p class="w3-right"><a href="#" class="w3-text-blue">forgot password?</a></p>
            </div>
        </div>
    </div>

    <!-- The Contact Section -->
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
        <h2 class="w3-wide w3-center">CONTACT</h2>
        <p class="w3-opacity w3-center"><i>Fan? Drop a note!</i></p>
        <div class="w3-row w3-padding-32">
            <div class="w3-col m6 w3-large w3-margin-bottom">
                <i class="fa fa-map-marker" style="width:30px"></i> Chicago, US<br>
                <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br>
                <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br>
            </div>
            <div class="w3-col m6">
                <form action="/action_page.php" target="_blank">
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-half">
                            <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
                        </div>
                        <div class="w3-half">
                            <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
                        </div>
                    </div>
                    <input class="w3-input w3-border" type="text" placeholder="Message" required name="Message">
                    <button class="w3-button w3-black w3-section w3-right" type="submit">SEND</button>
                </form>
            </div>
        </div>
    </div>

    <!-- End Page Content -->
</div>

<!-- Image of location/map -->
<img src="https://www.w3schools.com/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%">

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

<script>
    // Automatic Slideshow - change image every 4 seconds
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("mySlides");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) {myIndex = 1}
        x[myIndex-1].style.display = "block";
        setTimeout(carousel, 4000);
    }

    // Used to toggle the menu on small screens when clicking on the menu button
    function myFunction() {
        var x = document.getElementById("navDemo");
        if (x.className.indexOf("w3-show") == -1) {
            x.className += " w3-show";
        } else {
            x.className = x.className.replace(" w3-show", "");
        }
    }

    // When the user clicks anywhere outside of the modal, close it
    var modal = document.getElementById('ticketModal');
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>

</div>
